body { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #5d9656;
}

.container {
    margin-top: 100px;
    margin-left: 483px;
    width: 400px;
}
h1 {
    width: 100%;
    text-align: center;
    color: white;
    border: 5px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
}

input {
    width: 80%;
    margin-left: 12%;
    height: 30px;
    text-align: center;
    font-size: 18px;
    border: 0;
    border-radius: 15px;
}

button {
    width: 100px;
    height: 36px;
    border: 2px solid white;
    font-size: 18px;
    color: white;
    background-color: #5d9656;
    margin-top: 20px;
    margin-left: 158px;
    border-radius: 16px;
}

.rem {
    margin-left: 12px;
    font-size: 16px;
    background-color: black;
    width: 25px;
    font-weight: 600;
    color: white;
    border: none;
    cursor: pointer;
}
 
#mylist {
    font-size: 18px;
    color: white;
    margin-left: 50px;
}